.roomManagement{

   .backHomeButton{
      height: 35px;
      position: absolute;
      top: 206px;
      left: 30px;
      padding: 5px;
      background-color: #026082;
      color: white;
      line-height: 25px;
   }
   .backHomeButton:hover{
      background-color: #00678d;
   }
   .backHomeButton:active{
      background-color: #00749e;
   }

   table{
      font-size: 80%;
   }
}

ul.slick-dots-bottom{
   bottom: -10px !important;
}